#counter-chef {
    position: absolute;
    left: 400px;
    top: 175px;
    z-index: 15;
}

#logistics-chef {
    position: absolute;
    left: 1100px;
    top: 175px;
    z-index: 15;
}

#cooking-chef {
    position: absolute;
    width: 220px;
    left: 800px;
    top: 50px;
    z-index: 15;
}

.customer {
    position: absolute;
    left: 20px;
    top: 170px;
}
